# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown files
[*.md]
trim_trailing_whitespace = false

# JSON files should match the project style
[*.json]
indent_style = space
indent_size = 2

# Vue and TypeScript files
[*.{vue,ts,tsx}]
indent_style = space
indent_size = 2
quote_type = single

# Specific overrides
[*.{yml,yaml}]
indent_style = space
indent_size = 2
